name: Rust

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    strategy:
      matrix:
        platform:
          - os: ubuntu

    runs-on: ${{ matrix.platform.os }}-latest

    steps:
      - uses: actions/checkout@v6

      - name: Cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Display build versions
        run: |
          cargo --version
          rustc --version
          rustup toolchain list

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose
